html {
    height: 100vh;
}

body {
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1d407d;
    font-family: "Courier New", "Times New Roman", monospace;
}

.calculator {
    background-color:#1D707D;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: auto;
    color: #D19939;
}

.calc-screen-div {
    width: 400px;
    height: 100px;
    background-color: #244F9B;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.calc-header {
    font-size: 10px;
    align-self: center;
    margin-top: 10px;
    margin-bottom: 0px;
    height: 40px;
    width: 380px;
    text-align: center;
    overflow: scroll;
}

.calc-screen {
    width: 380px;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
    word-wrap: break-word;
    align-self: center;
}

.calc-keyboard {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    gap: 5px;
}

.calc-button {
    width: 95px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
    background-color:#244F9B;
    border-radius: 5px;
}

.calc-button:hover {
    opacity: .5;
}