html {
    height: 100vh;
}

body {
    margin: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
}

#error-output {
    color:crimson;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    background-color:aqua;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
}

.calc-screen-div {
    width: 400px;
    height: 100px;
    background-color: silver;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.calc-header {
    font-size: 10px;
    align-self: center;
}

.calc-screen {
    width: 250px;
    background-color:silver;
    border-radius: 5px;
    word-wrap: break-word;
    align-self: center;
}

.calc-keyboard {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 400px;
    gap: 5px;
}

.calc-button {
    width: 95px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: auto;
    background-color:silver;
    border-radius: 5px;
}

.calc-button:hover {
    opacity: .5;
}